*{
    box-sizing: border-box;
}

.prevent-intro{
  margin-bottom: 20px;
}

#no-cure,#outro{
  text-align: center;
}

.prevent-intro>h1,.prevent-intro>p{
  margin: 5px;
  padding: 2px;
  text-align: justify;
  }

.prevent-intro>h2{
  text-decoration: none;
  margin: 5px;
  padding: 2px;
  text-align: justify;
}

.prevent-intro>ul{
  margin: 5px 5px 5px 20px;
  padding: 5px;
  padding-left: 25px;
}

.measure>figure{
  margin: 2px 1px 2px 1px;
  vertical-align: middle;
  width: 100%;
  height: 225px;
  flex: 1;
  max-width: 25%;
  padding: 2px;
  overflow: hidden;
}

figure>img{
  width: 100%;
  height: 200px;

}

.measure{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
  padding: 2px;
}

 @media screen and (max-width: 800px) {
      .measure>figure {
        flex: 100%;
        max-width: 100%;
      }
  }

 

/* Create four equal columns that sits 
    next to each other */
.img-row {
   display: flex;
   flex-wrap: wrap;
   padding:2px 2px 2px 2px;
   height: auto;
   margin: 2px 2px 0px 2px;
   overflow: hidden;
   width: 100%;
}

.img-col {
    flex: 25%;
    max-width: 25%;
    padding: none;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    
  }
  
  .img-col>figure>img {
    margin: 2px 2px 2px 2px;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    }
  
figure{
  margin: 2px 2px 2px 2px;
}

figcaption{
  text-align: center;
}


  /* Responsive layout - makes a
     two column-layout
     instead of four columns */
     @media screen and (max-width: 900px) {
      .img-col {
        flex: 50%;
        max-width: 50%;
      }
      .img-col>figure>img {
        margin: 2px 2px 2px 2px;
        vertical-align: middle;
        width: 100%;
        height: 250px;
        }
    }
    
    /* Responsive layout - makes the two columns
       stack on top of each other instead of next
       to each other */
    @media screen and (max-width: 650px) {
      .img-col {
        flex: 100%;
        max-width: 100%;
      }
      .img-col>figure>img {
        margin: 2px 2px 2px 2px;
        vertical-align: middle;
        width: 100%;
        height: 300px;
        }
    }
